  <div>

      <div>
	  <p>
	  Usuario actual: {{ actual }}
	  </p>
      </div>
   
	<div class="notes-section">
      <div class="columns">
        <div class="column has-text-centered">
          <strong>Usuarios</strong>
          <div v-for="usuario in usuarios" class="notes">
            {{ usuario }}
          </div>
        </div>
        <div class="column has-text-centered">
          <strong>Fecha registro.</strong>
          <div v-for="timestamp in timestamps" class="timestamps">
            {{ timestamp }}
          </div>
        </div>
      </div>
      <entrada
         :placeholder="placeholder"></entrada>
    </div>
	<!-- 
	<registro-componente>
	</registro-componente>
	-->
	<note-count-component>
	</note-count-component>

  </div>

